@import url("https://fonts.googleapis.com/icon?family=Material+Icons");
*{
    margin: 0;
    border: 0;
    box-sizing: border-box;
}
body {
    min-height: 100vh;
    font-family: 'Montserrat', sans-serif;
     overflow-x: hidden;
}

.cabecario {
    display: flex;
    justify-content: space-around;
}

.imagemLogo {
    width: 13%;
    height: 11%;
}

.icones {
    display: flex;
    align-items: center;
    gap: 20px;
}

.coracaoFav,
.perfil {
    width: 35px;
    height: 35px;
    cursor: pointer;
}

.pesquisar {
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center;
}

.filtro{
    margin-left: 1%;
    width: 50px;
    height: 50px;
    cursor: pointer;
}

.inputCampo {
    width: 130vh;
    padding: 10px 20px;
    border: 2px solid #4A67DF;
    border-radius: 50px;
    font-size: 1.2em;
    color: #4A67DF;
}

.conteiner {
    width: 100%;
    height: 100vh;
}

.h1Favoritos{
    font-size: 60px;
    color: #4A67DF;
    display: flex;
    justify-content: end;
    padding-right: 16%;
    text-shadow: 0 3px 6px rgba(0,0,0,0.3);
    padding-top: 3%;
}


.retangulo{
    width: 1500px;
    height: 100%;
    background-image: linear-gradient(#2fd6cb6b, #4a68df60);
    border-radius: 30px;
}

.retanguloMain{
    display: flex;
    justify-content: center;
}

.livro{
    width: 200px;
    height: 300px;
    border-radius: 20px;
}

.nomesMangas{
    font-size: 13px;
    display: flex;
    align-self: end;
    justify-content: space-around;
    color: #4A67DF;
    padding-top: 1%;
    padding-left: 95px;
}

.coracaoPreenchido{
    width: 35px;
    height: 35px;
    cursor: pointer;
    z-index: 50%;
}

.apenasMangas{
    align-self: start;
    display: flex;
    justify-content: space-around;
    margin-bottom: 5%;
    gap: 150px;
    
}

.exibirLivros{
    padding-top: 5%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
}

.cardLivro {
    width: 330px;
    height: 460px; 
    padding-left: 95px;

    transition: transform 0.3s ease;
} 

.cardLivro:hover{
    transform: scale(1.15);
}


.nomesLivros {
    display: flex;
    justify-content: space-between;
    width: 200px;
    color: #4A67DF;
    text-shadow: 0 3px 6px rgba(0, 0, 0, 0.3);
    padding-top: 4%;
    cursor: pointer;
    
}

.coracaoFav2{
    width: 35px;
    height: 35px;
}

.descricaoLivro {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(0);
    width: 1000px;
    height: 700px;
    border-radius: 15px;
    background: white;
    padding: 20px;
    box-shadow: 0 0 30px rgba(0,0,0,0.4);
    transition: 0.3s ease;
    gap: 10px;
    z-index: 11;
}

.descricao{
    display: flex;
    justify-content: space-around;
}

.h3Descricao{
    color: #4A67DF;
    text-shadow: 0 3px 6px rgba(0, 0, 0, 0.3);
    font-size: 50px;
    display: flex;
    justify-content: start;
    padding-top: 3%;
    padding-left: 5%;
}

.imgDescricao{
    padding-top: 8%;
    border-radius: 20px;
    width: 300px;
    height: 500px;
}

.pDescricaoLivro{
   color: 777676;
   font-family: 'Montserrat', sans-serif;
   text-align: justify;
   letter-spacing: 1px;
   padding: 5%;
   padding-top: 8%;
}

.descricaoLivro.ativa {
    transform: translate(-50%, -50%) scale(1);
}

.botaoReservar{
    background-color: #4A67DF;
    width: 150px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 15px;
    cursor: pointer;
    color: white;
}

.botaoReservar.reservado{
    background-color: #2fd6cb ;
}

.estrelaVazia{
    width: 35px;
    height : 35px;
    cursor: pointer;
    margin-top: 12%;
}

.final{
    height: 90px;
    display: flex;
    justify-content: space-around;
    gap: 330px;
}

.osdois{
    display: flex;
    justify-content: space-around;
    gap: 40px;
    padding-right: 2%;
}

.coracao{
      width: 35px;
    height: 35px;
    cursor: pointer;
    margin-left: 1px;
    margin-top: 3%;
}

.pop-up-perfil {
    position: fixed;    
    inset: 0;
    background: rgba(0, 0, 0, 0.5);
    display: none;
    align-items: center;
    justify-content: right;
    z-index: 1000;
}

.pop-up-perfil.show{
    display: flex;
}

.perfil-pop {
    background: rgb(255, 255, 255);
    padding: 20px;
    border-radius: 10px;
    max-width: 500px;
    width: 90%;
    height: 100%;
    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.3);
    opacity: 0;
    transform: translateX(80px);
    animation: direitaSuave 0.5s cubic-bezier(.25,.46,.45,.94) forwards;
}

@keyframes direitaSuave {
    to {
        opacity: 1;
        transform: translateX(0);
    }
}

.cabecarioPerfil{
    display: flex;
    justify-content: center;
    text-shadow: 0 3px 6px rgba(0, 0, 0, 0.3);
}

.fotoPerfil{
    width: 10vw;
    height: 20vh;
    
}

.divFotoPerfil{
    display: flex;
    justify-content: center;
}

.divNomePessoa{
    display: flex;
    justify-content: center;    
    text-shadow: 0 3px 6px rgba(0, 0, 0, 0.3);
}

.divConfig{
    margin-top: 20%;
    display: flex;
    text-shadow: 0 3px 6px rgba(0, 0, 0, 0.3);
    color:#4A67DF
}

.divInfoPerfil{
    margin-left: 4%;
    margin-top: 8%;
    cursor: pointer;
    transition: transform 1.5s ease;
    text-shadow: 0 3px 6px rgba(0, 0, 0, 0.3);
}

.divMeusFavoritos{
    margin-left: 4%;
    margin-top: 4%;
    cursor: pointer;
    transition: transform 1.5s ease;
    text-shadow: 0 3px 6px rgba(0, 0, 0, 0.3);
    text-decoration: none;
}

.divModo{
    margin-left: 4%;
    margin-top: 4%;
    cursor: pointer;
    transition: transform 1.5s ease;
    text-shadow: 0 3px 6px rgba(0, 0, 0, 0.3);
}


.reservados{
    margin-top: 4%;
    margin-left: 4%;
    transition: transform 1.5s ease;
    text-shadow: 0 3px 6px rgba(0, 0, 0, 0.3);
    
}

.reserv{
    text-decoration: none;
    color: black;
    
}

.divTermosEPrivacidade{
    display: flex;
    margin-top: 14%;
    color:#4A67DF;
    transition: transform 1.5s ease;
    text-shadow: 0 3px 6px rgba(0, 0, 0, 0.3);
}

.divPrivacidade{
    margin-left: 4%;
    margin-top: 4%;
    cursor: pointer;
    transition: transform 1.5s ease;
    text-shadow: 0 3px 6px rgba(0, 0, 0, 0.3);
}

.divTermo{
    margin-left: 4%;
    margin-top: 8%;
    cursor: pointer;
    transition: transform 1.5s ease;
    text-shadow: 0 3px 6px rgba(0, 0, 0, 0.3);
}

.fav{
    text-decoration: none;
    color: black;
    
}

a:hover{
    color: #4A67DF;
}